@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  background-color: var(--main-background);
  --main-font: "Montserrat", sans-serif;
  --main-background: #fff4de;

  /* login items */
  --main-fieldborder-color: #c0d8fd;
  --main-field-color: #b9d2d2;
  --main-button-color: #64b6ac;

  /* main content */
  --main-label-color: #b09e9a;
  --main-description-hover: #716b6b;
  --page-menu-color: #e3e6d9;
  --gallery-box-color: #b9d2d2;
  --reviewbox-color: #fad4c1;
  --user-info-outercolor: #b9d2d2;
  --user-info-innercolor: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}
body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =============== LOGIN PAGE ===============*/

/* ================== HALF LEFT ================== */

.half-left-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.6s ease;
}

.login-items h1 {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.5;
}

.login-items p {
  font-weight: 200;
  font-size: 15px;
}

.user-login {
  margin-top: 20px;
}

.input-box {
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  transition: 0.6s ease;
}

.input-box input {
  width: 370px;
  height: 25px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid var(--main-fieldborder-color);
  background-color: var(--main-field-color);
}

::placeholder {
  padding: 20px;
  color: #6e5353;
}

.login-button {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease;
}
.login-button input[type="submit"] {
  margin: 20px;
  padding: 15px;
  width: 400px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid transparent;
  color: white;
  background-color: var(--main-button-color);
}

.user-register-container {
  margin: auto;
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-register-container a {
  text-decoration: none;
  color: var(--main-button-color);
  font-weight: 500;
}

/* ================== HALF RIGHT ==================  */

.half-right-container {
  background-color: #64b6ac;
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-name {
  margin: auto;
}

.app-name h1 {
  font-size: 120px;
  color: var(--main-background);
  line-height: 0.85;
  transition: 0.6s ease-out;
}

.line {
  width: 300px;
  height: 2px;
  margin-left: 50px;
  margin-right: 40px;
  background-color: var(--main-background);
  display: inline-block;
  transition: 0.6s ease-out;
}

.subtitle {
  display: inline;
  color: var(--main-background);
  transition: 0.6s ease-in-out;
}
