@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  background-color: var(--main-background);
  --main-font: "Montserrat", sans-serif;
  --main-background: #f8f3ea;

  /* login items */
  --main-fieldborder-color: #c0d8fd;
  --main-field-color: #b9d2d2;
  --main-button-color: #64b6ac;

  /* main content */
  --main-label-color: #b09e9a;
  --main-description-hover: #716b6b;
  --page-menu-color: #e3e6d9;
  --label-text-color: #fff4de;
  --gallery-box-color: #b9d2d2;
  --reviewbox-color: #fad4c1;
  --user-info-outercolor: #b9d2d2;
  --user-info-innercolor: white;
}

/* Scrollbar */
body {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: hsl(161, 49%, 51%);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: hsl(165, 68%, 22%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(165, 65%, 10%);
}

/* start of header section */
* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

header {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.RP-app-name h1 {
  font-size: 30px;
}

.toggle-bars {
  height: max-content;
  width: max-content;
  margin: 20px auto;
}

.toggle-bars .toggle {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--main-button-color);
}

#mobile-menu.is-active .toggle:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .toggle:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .toggle:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-bar {
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease;
  height: 10vh;
}
.menu-bar.active {
  background: #131313;
  margin: 0;
  opacity: 1;
  transition: all 0.5s ease;
  height: 10vh;
  font-size: 1.6rem;
  /* z-index: 99; */
}

.menu-list {
  display: block;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  background-color: #64b6ac;
}

.menu-list a {
  display: block;
  text-decoration: none;
  color: rgb(50, 45, 45);
  margin: 10px;
  padding: 10px;
}

.menu-list a:hover {
  color: white;
}

#prof-pic.hovered {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.view-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-profile img {
  height: 20px;
  width: 20px;
  /* background-color: rgb(186, 203, 163); */
  border-radius: 90px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  max-height: 35px;
  width: 50%;
  margin: 0px auto;
}

.search-container.active {
  margin: 290px auto auto auto;
  transition: all 0.2s ease;
}

.search-container input[type="text"] {
  margin: 0;
  height: inherit;
  flex-grow: 2;
  border: transparent;
  text-align: center;
  z-index: 9999;
  background-color: transparent;
}

.search-container img {
  height: 20px;
  width: 20px;
}

.search-line {
  height: 1px;
  width: 50%;
  margin: 0px auto;
  background: radial-gradient(#768581, #018452);

  /* END OF HEADER */
}

/* ================== SLIDER STYLE  ====================== */

.home-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  margin: 0;
}

#oneLook {
  font-family: "Montserrat", "sans-serif";
  font-size: 1.8rem;
  padding: 5% 0% 0% 15%;
  margin: 0px;
}

.home-banner-tagline {
  display: flex;
  align-items: center;
  padding-left: 15%;
  padding-right: 10%;
}

#home-banner-line {
  width: 10rem;
  height: 0.2rem;
  background-color: #131313;
}

#choose {
  font-family: "Montserrat", "sans-serif";
  padding-left: 10px;
}

#registerButton {
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #64b6ac;
  width: 8rem;
  line-height: 1.5rem;
  float: right;
  margin-right: 15%;
  margin-top: 5%;
}

.venue-section {
  padding: 0% 10% 0% 0%;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
}

.venue-section {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.slides {
  display: flex;
  visibility: visible;
  margin-left: 10%;
}

.slide {
  position: relative;
  border-radius: 10px;
  height: 55vh;
  width: 50vw;
  padding-top: 0px;
  margin-bottom: 0;
  margin-right: 10px;
  z-index: 9999;
}

.slide img {
  width: 50vw;
  height: 94%;
  padding-top: 0;
  border-radius: 10px;
  margin: 0;
  z-index: 1;
}

.slide img:hover {
  -webkit-filter: brightness(40%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.slide:hover #resto-desc,
.slide:hover #resto-innerLabel {
  opacity: 1;
  transition: 0.6s ease-in;
  filter: blur(0px);
  -webkit-filter: brightness(100%);
}

#resto-desc {
  position: absolute;
  background-color: var(--main-label-color);
  height: 130px;
  width: 80%;
  left: 0;
  right: 0;
  top: 0;
  margin: 40px auto;
  border-radius: 20px;
  inline-size: 80%;
  overflow-wrap: break-word;
  z-index: 9999;
  opacity: 0;
}

#resto-desc.active {
  background-color: var(--main-label-color);
  position: absolute;
  height: 120px;
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
  inline-size: 80%;
  overflow-wrap: break-word;
  z-index: 9999;
  opacity: 1;
}

#resto-desc p {
  position: relative;
  padding: 20px;
  font-size: 12px;
  text-align: left;
  color: var(--label-text-color);
}

#resto-innerLabel {
  background-color: var(--main-label-color);
  height: 50px;
  width: 80%;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  margin-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
}

#resto-innerLabel.active {
  background-color: var(--main-label-color);
  height: 50px;
  width: 80%;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  margin-left: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 1;
}

.cont,
#resto-innerLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#r-label {
  margin: 10px;
  font-size: 13px;
  color: var(--label-text-color);
}

#star-rate {
  height: 20px;
  width: 20px;
}

#restaurant1 {
  visibility: visible;
}

#venue-section-divider {
  margin: 0px;
  max-width: 80vw;
}

/* ================== END OF SLIDER STYLE  ====================== */

/* =============================================== END OF PHONE STYLE==================================================== */

@media only screen and (min-width: 1000px) {
  header {
    display: flex;
    margin: 10px;
    padding: 15px;
  }

  .RP-app-name {
    position: relative;
    padding: 5px;
    margin-right: 50px;
    margin-top: 30px;
  }
  .RP-app-name h1 {
    font-size: 50px;
  }

  .toggle-bars {
    height: max-content;
    width: max-content;
    margin: 20px auto;
    display: none;
  }

  .toggle-bars .toggle {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--main-button-color);
    display: none;
  }

  #mobile-menu.is-active .toggle:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .toggle:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .toggle:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-bar.active {
    background: #131313;
    margin: 0;
    opacity: 0;
    transition: all 0.5s eas e;
    height: 10vh;
    font-size: 1.6rem;
    /* z-index: 99; */
  }

  .menu-bar {
    position: relative;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 75%;
    height: 50%;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .menu-list {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-weight: 700;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: transparent;
  }

  .menu-list a {
    text-decoration: none;
    margin-right: 50px;
    font-size: 16px;
    padding: 0px;
    color: rgb(50, 45, 45);
    z-index: 9999;
  }

  .menu-list a:nth-child(2) {
    color: var(--main-button-color);
  }

  .menu-list a:hover {
    color: rgb(152, 142, 142);
  }

  .part1 {
    display: flex;
  }

  #prof-pic.hovered {
    filter: invert(66%) sepia(7%) saturate(321%) hue-rotate(314deg)
      brightness(87%) contrast(78%);
    /* SOURCE: https://stackoverflow.com/a/53356249 */
  }

  .register {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .menu-line {
    position: absolute;
    height: 1.5px;
    width: 1150px;
    margin-top: 45px;
    margin-left: -20px;
    background: radial-gradient(#768581, #018452);
  }

  .search-container {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    background-color: transparent;
    max-height: 35px;
    width: 10%;
    right: 0;
    margin: -115px 600px 0px 0px;
  }

  .search-container.active {
    margin: 290px auto auto auto;
    transition: all 0.2s ease;
  }

  .search-container input[type="text"] {
    margin: 0;
    height: inherit;
    flex-grow: 1;
    border: transparent;
    text-align: center;
    z-index: 9999;
    background-color: transparent;
  }

  .search-container img {
    height: 20px;
    width: 20px;
  }

  .search-line {
    display: none;
  }
  .hidden {
    background-color: transparent;
    display: block;
    position: relative;
    height: 450px;
    max-width: 50%;
    padding-top: 20px;
    border-radius: 20px;
    margin: 0px 200px;
  }

  /* MENU  - Dropdown */

  .view-profile {
    display: flex;
    margin: 0 auto;
    padding: 0;
    height: 2.8rem;
    width: max-content;
  }

  .view-profile img {
    position: absolute;
    margin-left: 130px;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 90px;
  }

  .menu-bar2 {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    z-index: 99999;
    background-color: var(--main-background);
  }

  .menu-bar2 ul li {
    list-style-type: none;
    margin: 0;
    width: max-content;
  }

  .menu-bar2:hover .dropdown-m {
    display: block;
    width: inherit;
    margin: auto;
    z-index: 99999;
  }

  .dropdown-m {
    display: none;
  }
  .dropdown-m ul {
    max-width: min-content;
  }

  .dropdown-m ul li {
    box-sizing: border-box;
    list-style-type: none;
    margin: -2px auto;
    padding: 0;
    margin: auto;
  }
  .dropdown-m ul li a {
    text-align: center;
  }

  /*END OF MENU */
}

@media only screen and (min-width: 768px) {
  .register-nav {
    visibility: visible;
    text-decoration: none;
    font-family: "Montserrat", "sans-serif";
    font-weight: bold;
    color: #464545;
    padding-left: 50%;
  }

  #when {
    font-size: 5vh;
    padding-left: 3rem;
  }

  .navbar {
    font-size: 2vh;
  }

  .search-section {
    padding-left: 45vw;
    padding-bottom: 2rem;
  }

  .search-section img {
    max-width: 33px;
  }

  .search-section input {
    width: 30vw;
  }

  #registerButton {
    font-family: "Montserrat", "sans-serif";
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #64b6ac;
    width: 9rem;
    line-height: 2.5rem;
    margin-right: 15%;
  }

  .slides {
    padding-left: 5% 10% 0% 5%;
  }

  .venue-section {
    flex: 2;
    margin: 0px;
    padding: 0px;
  }

  #registerButton {
    background-color: #64b6ac;
    width: 8rem;
    line-height: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    display: flex;
  }

  .home-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  #oneLook {
    padding: 0em 1rem 0rem 3rem;
  }

  .slide img {
    max-height: 1000%;
    max-width: 250px;
    margin: 10px;
  }

  #resto-innerLabel {
    margin-left: 10px;
  }

  #when {
    font-size: 5vw;
    padding: 2rem 0rem 0rem 2rem;
  }

  #oneLook {
    font-size: 2.2vw;
  }

  .home-banner-tagline {
    padding-left: 10%;
    padding-right: 10%;
  }

  #choose {
    font-size: 1vw;
  }

  .navbar {
    font-size: 1rem;
  }

  /* MENU  - Dropdown */

  .view-profile {
    display: flex;
    margin: 0 auto;
    padding: 0;
    height: 2.8rem;
    width: max-content;
  }

  .view-profile img {
    position: absolute;
    margin-left: 130px;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 90px;
  }

  .menu-bar2 {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    z-index: 99999;
    background-color: var(--main-background);
  }

  .menu-bar2 ul li {
    list-style-type: none;
    margin: 0;
    width: max-content;
  }

  .menu-bar2:hover .dropdown-m {
    display: block;
    width: inherit;
    margin: auto;
    z-index: 99999;
  }

  .dropdown-m {
    display: none;
  }
  .dropdown-m ul {
    max-width: min-content;
  }

  .dropdown-m ul li {
    box-sizing: border-box;
    list-style-type: none;
    margin: -2px auto;
    padding: 0;
    margin: auto;
  }
  .dropdown-m ul li a {
    text-align: center;
  }

  /*END OF MENU */
}
