<!--START OF HEADER--> 
  <header>
    <div class="RP-app-name">
      <h1>WhenInTaft</h1>
    </div>
    <div class="toggle-bars" id="mobile-menu">
      <div class="toggle"></div>
      <div class="toggle"></div>
      <div class="toggle"></div>
    </div>
    <div class="divide-this"></div>
      
    <div class="menu-bar">
      <div class="menu-list">
        <div class="part1">
          <a href="/indexLog" id="current">HOME</a>
          <a href="/restaurantt">RESTAURANTS</a>
        </div>
        <div class="menu-line"></div>
        <div class="search-container2">
        <i class="fa-solid fa-magnifying-glass fa-2x" style="color: #ceb9a7; margin-left:0.5rem;"></i>
        <form action="/SearchPage" id="searchform" method="get">
            <input
              type="text"
              placeholder="Type to search"
              name="searchBar"
              id="searchBar"
            />
            <input 
              type="submit"
              value="submit"
              />
        </form>
        </div>
        <div class="menu-bar2">
          <nav>
            <ul>
              <li>
                <div class="view-profile">
                  <a href="/viewprofileU1" id="prof-page">VIEW PROFILE</a>
                  <img src="assets/anonymous_picture.png" id="prof-pic" />
                </div>
                <div class="dropdown-m">
                  <ul>
                    <li><a href="/viewprofileU1">VIEW PROFILE</a></li>
                    <li><a href="/editProfile">EDIT PROFILE</a></li>
                    <li><a href="/">LOGOUT</a></li>
                  </ul>
                </div>
              </li>
            </ul>            
          </nav>
        </div>
      </div>
    </div>    
  </header>
  <div class="search-container">
    <input
      type="text"
      placeholder="Type to search"
      name="searchBar"
      id="searchBar"
    /><a href="/SearchPage"></a>
  </div>
  <div class="search-line"></div>

<!-- END OF HEADER -->

<!-- content body -->
    <div class="section">
      <div class="left-block roundblock"></div>

      <!-- center-block -->
      <div class="center-block roundblock">

        <!-- center-block: image box -->
        <div class="block2 roundblock">
            <p>Upload your Profile Picture</p>
            <div class="image-section">
              <div class="image-section1">
                <div class="user-upload">
                  <!-- https://nikitahl.com/custom-styled-input-type-file -->
                    <input id="user-rev-pic1" name="user-rev-pic1" type="file" />
                </div>
              </div>
            </div>
        </div>
        

        <!-- center-block: review box -->
        <form id="editProfile-form" action="/editProfile" method="post">
        <div class="block1 roundblock">
          <div id="heading">
          <p>Write Your Name</p>
          </div>
          <div class="name-section">
              <div class="user-name">
                <textarea
                  id="user-rev"
                  name="userName"
                  rows="8"
                  cols="120"
                  placeholder="name"
                  maxlength="350"
                ></textarea>
              </div>
          </div>
          <!--
          <div class="name-section">
              <div class="user-name">
                <textarea
                    id="user-rev-1"
                    name="user-rev"
                    rows="8"
                    cols="120"
                    placeholder="LAST NAME"
                    maxlength="350"
                ></textarea>
              </div>
          </div>
          -->
        </div>
        

        <div class="block1 roundblock">
            <div id="heading">
            <p>Write something about yourself</p>
            </div>
            <div class="desc-section">
                <div class="user-desc">
                  <textarea
                    id="user-rev-2"
                    name="userDescription"
                    rows="8"
                    cols="120"
                    placeholder="write your description about yourself here"
                    maxlength="350"
                  ></textarea>
                </div>
            </div>
          </div>


        <!-- center-block: buttons box -->
        <div class="submission">
          <div class="buttons">
            <div class="cancel"><a href="/viewprofileU1">cancel</a></div>
            <input id="submit" form="editProfile-form" type="submit" value="update profile"> 
          </div>
        </div>
      </div>
      </form>
      <!-- end of center block -->

      <div class="right-block roundblock"></div>
    </div>
<!-- end of content body -->