    <!--START OF HEADER-->
    <header>
      <div class="RP-app-name">
        <h1>WhenInTaft</h1>
      </div>
      <div class="toggle-bars" id="mobile-menu">
        <div class="toggle"></div>
        <div class="toggle"></div>
        <div class="toggle"></div>
      </div>
      <div class="divide-this"></div>

      <div class="menu-bar">
        <div class="menu-list">
          <div class="part1">
            <a href="/indexLog" id="current">HOME</a>
            <a href="/restaurant">RESTAURANTS</a>
          </div>
          <div class="menu-line"></div>
          <div class="search-container2">
            <i
              class="fa-solid fa-magnifying-glass fa-2x"
              style="color: #ceb9a7; margin-left: 0.5rem"
            ></i>
            <form action="SearchPage.html" id="searchform" method="get">
              <input
                type="text"
                placeholder="Type to search"
                name="searchBar"
                id="searchBar"
              />
              <input type="submit" value="submit" />
            </form>
          </div>
          <div class="menu-bar2">
            <nav>
              <ul>
                <li>
                  <div class="view-profile">
                    <a href="/viewprofileU1" id="prof-page">VIEW PROFILE</a>
                    <img src="assets/anonymous_picture.png" id="prof-pic" />
                  </div>
                  <div class="dropdown-m">
                    <ul>
                      <li><a href="/viewprofileU1">VIEW PROFILE</a></li>
                      <li><a href="/editProfile">EDIT PROFILE</a></li>
                      <li><a href="/">LOGOUT</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="search-container">
      <input
        type="text"
        placeholder="Type to search"
        name="searchBar"
        id="searchBar"
      /><a href="/SearchPage"></a>
    </div>
    <div class="search-line"></div>

    <!-- END OF HEADER -->

    <!-- START OF PROFILE SECTION -->

    <div id="profilee">
        <div class="box">
          <div class="box-a">
            <a href="#profile" class="aboutme">About Me</a>
            <a href="#review" class="aboutme">Reviews</a>
            <a href="#gallery" class="aboutme">Gallery</a>
          </div>
        </div>
        <div class="yohoo">
          <div class="profile-section" id="profile">
              <div class="profile-pictures-section">
              <div class="profile-picture">
                  <img src="assets/ADB.png" />
              </div>
              <div class="top-overall-stars">
                <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
                <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
                <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
                <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
                <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
                <p>4.7</p>
              </div>
              </div>
              <div class="profile-description">
              <h1>Angry Dobo</h1>
              <p>
                Prepare your taste buds for a fiery feast at Angry Dobo. Our bold and flavorful dishes will ignite your senses and leave you craving more. From the sizzling spices to the mouthwatering marinades, every bite is a burst of culinary passion. Get ready to unleash your appetite and embrace the heat at Angry Dobo - where flavor gets fierce.
              </p>
              </div>
              </div>
              <div class="edit-profile-section">
              <h4>Add Review</h4>
              <a href="/reviewPage?restaurantName=Angry Dobo"><img src="assets/book_icon.png" /></a>
              </div>
    
          <div class="top-reviews-section">
              <div class="top-label-and-navigator" id="review">
                  <h3>Top Reviews</h3>
              </div>
              <div class="top-reviews-content-container">
                  <div class="top-reviews-left-container">
                    <div class="top-left">
                      <div class="top-reviews-user-details">
                        <img
                          src="assets/anonymous_picture.png"
                          class="top-reviews-profile-pic"
                        />
                      </div>
                      <div class="top-further-details">
                        <div class="top-name">
                          <a class="top-firstname" href="viewprofileU2.html">Hermoine Granger</a>
                        </div>
                        <div class="top-others">
                          <p class="top-review-count">10 Reviews</p>
                        </div>
                      </div>
                      <div id="top-reaction">
                        <div id="helpful">
                          <i class="fa-solid fa-thumbs-up" style="color: #000000"></i>
                        </div><span class="top-count" value="18">18</span>
                        <div id="unhelpful">
                          <i class="fa-solid fa-thumbs-down" style="color: #000000;"></i></i>
                        </div><span class="top-count" value="1">1</span>
                      </div>
                    </div>
                    <div class="top-overall-stars">
                      <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
                      <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
                      <div id="Ostar"><i class="fa-regular fa-star"></i></div>
                      <div id="Ostar"><i class="fa-regular fa-star"></i></div>
                      <div id="Ostar"><i class="fa-regular fa-star"></i></div>
                    </div>
                    <div class="review">
                      <p class="top-review-paragraph">
                        For years, they still have the best adobo ever! For years, they still have the best adobo ever! they still have the best adobo ever! they still have the best adobo ever! they still have the best adobo ever! 
                      </p>
                    </div>
                  </div>
          
                  <div class="top-reviews-pictures">
                    <img src="assets/AD1.jpg" class="top-review-image" />
                    <img src="assets/AD2.jpg" class="top-review-image" />
                  </div>
                  <div id="EditMenu">
                    <div id="editBar">
                      <div id="editBars"></div>
                      <div id="editBars"></div>
                      <div id="editBars"></div>
                    </div>
                    <div id="EditNav">
                      <ul>
                          <li><a href="">Reply</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div>
        </div>
  
        <div class="box"></div>
      </div>

    <div class="gallery-section" id="gallery">
        <div class="gallery-container">
          <h3>Gallery</h3>
          
          <div class="gallery-pictures">
              <img src="assets/AD1.jpg" class="gallery-image"/>
              <img src="assets/AD2.jpg" class="gallery-image"/>
              <img src="assets/AD3.jpg" class="gallery-image"/>
              <img src="assets/AD4.jpg" class="gallery-image"/>
          </div>
        </div>
      </div>
     
      <div class="dividerSec">
      <div class="reviews-section">
        <div class="label-and-navigator" id="review">
          <h3>User's Reviews</h3>
          <h4>View All</h4>
        </div>
        <div class="reviews-content-container">
          <div class="reviews-left-container">
            <!-- Loop through each review -->
            {{#each reviews}}
              <div class="left">
                <div class="reviews-user-details">
                  <img src="assets/anonymous_picture.png" class="reviews-profile-pic" />
                </div>
                <div class="further-details">
                  <div class="name">
                    <a class="firstname" href="viewprofileU4.html">{{this.userName}}</a>
                  </div>
                  <div class="others">
                    <p class="review-count">13 Reviews</p>
                  </div>
                </div>
                <div id="reaction">
                  <div id="helpful">
                    <i class="fa-solid fa-thumbs-up" style="color: #000000"></i>
                  </div><span class="count" value="11">11</span>
                  <div id="unhelpful">
                    <i class="fa-solid fa-thumbs-down" style="color: #000000;"></i>
                  </div><span class="count" value="3">3</span>
                </div>
              </div>
              <div class="overall-stars">
                <!-- TODO: find a way to extract star display given the rating score from the schema -->
                <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
                <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
                <div id="Ostar"><i class="fa-regular fa-star"></i></div>
                <div id="Ostar"><i class="fa-regular fa-star"></i></div>
                <div id="Ostar"><i class="fa-regular fa-star"></i></div>
              </div>
              <div class="review">
                <p>{{this.reviewDesc}}</p>
              </div>
            {{/each}}

          </div>
  
          <div class="reviews-pictures">
              <img src="assets/AD3.jpg" class="review-image" />
              <img src="assets/AD4.jpg" class="review-image" />
          </div>
          <div id="EditMenu">
            <div id="editBar">
              <div id="editBars"></div>
              <div id="editBars"></div>
              <div id="editBars"></div>
            </div>
            <div id="EditNav">
              <ul>
                <li><a href="">Reply</a></li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="reply">
          <div class="reply-container">
              <h3>re: Angry Dobo</h3>
              <p>Thank you! We will make sure we will keep up our recipes' tastiness.</p>
          </div>
        </div>
      </div>
      
    </body>
</html>
   

   