<!--START OF HEADER--> 
    <header>
      <div class="RP-app-name">
        <h1>WhenInTaft</h1>
      </div>
      <div class="toggle-bars" id="mobile-menu">
        <div class="toggle"></div>
        <div class="toggle"></div>
        <div class="toggle"></div>
      </div>
      <div class="divide-this"></div>
        
      <div class="menu-bar">
        <div class="menu-list">
          <div class="part1">
            <a href="/indexLog" id="current">HOME</a>
            <a href="/restaurant">RESTAURANTS</a>
          </div>
          <div class="menu-line"></div>
          <div class="search-container2">
          <i class="fa-solid fa-magnifying-glass fa-2x" style="color: #ceb9a7; margin-left:0.5rem;"></i>
          <form action="SearchPage.html" id="searchform" method="get">
              <input
                type="text"
                placeholder="Type to search"
                name="searchBar"
                id="searchBar"
              />
              <input 
                type="submit"
                value="submit"
                />
          </form>
          </div>
          <div class="menu-bar2">
            <nav>
              <ul>
                <li>
                  <div class="view-profile">
                    <a href="/viewprofileU1" id="prof-page">VIEW PROFILE</a>
                    <img src="assets/anonymous_picture.png" id="prof-pic" />
                  </div>
                  <div class="dropdown-m">
                    <ul>
                      <li><a href="/viewprofileU1">VIEW PROFILE</a></li>
                      <li><a href="/editProfile">EDIT PROFILE</a></li>
                      <li><a href="/">LOGOUT</a></li>
                    </ul>
                  </div>
                </li>
              </ul>            
            </nav>
          </div>
        </div>
      </div>    
    </header>
    <div class="search-container">
      <input
        type="text"
        placeholder="Type to search"
        name="searchBar"
        id="searchBar"
      /><a href="/SearchPage"></a>
    </div>
    <div class="search-line"></div>
        
<!-- END OF HEADER SECTION -->

<!-- START OF PROFILE SECTION -->
    <div id="profilee">
        <div class="box"></div>
        <div class="yohoo">
          <div class="Rest-profile-section" id="Rest-profile">
              <div class="Rest-profile-pictures-section">
                  <div class="Rest-profile-picture">
                    <img src="assets/avatar.webp" />
                  </div>
              </div>
              <div class="Rest-profile-description">
                <h1>{{user.userName}}</h1>
                <p>
                  {{user.userDescription}}
                </p>
              </div>
          </div>
          <div class="edit-profile-section">
              <h4>Edit Profile</h4>
              <a href="/editProfile"><img src="assets/book_icon.png" /></a>
          </div>
        </div>
        <div class="box"></div>
    </div>
<!-- END OF PROFILE SECTION -->

<!-- START OF REVIEW SECTION -->
    <div class="reviews-section">
      
      <div class="label-and-navigator" id="review">
        <h3>User's Reviews</h3>
        <h4>View All</h4>
      </div>
      
      {{#each reviews}}
      <div class="reviews-content-container">
      
        <div class="reviews-left-container">
          
          <div class="left">
            
            <div class="reviews-user-details">
              <img
                src="assets/anonymous_picture.png"
                class="reviews-profile-pic"
              />
            </div>
            <div class="further-details">
              <div class="name">
                <a class="firstname" href="#">{{this.userName}}</a>
              </div>
              <div class="others">
                <p class="review-count">9 Reviews</p>
              </div>
            </div>
            <div id="reaction">
              <div id="helpful">
                <img src="assets/tbUP0.png">
              </div><span class="count" value="14">14</span>
              <div id="unhelpful">
                <img src="assets/tbDN0.png"></i></i>
              </div><span class="count" value="1">1</span>
            </div>
          </div>
          <div class="overall-stars">
            <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
            <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
            <div id="Ostar"><i class="fa-solid fa-star" style="color: #d1ba29;"></i></div>
            <div id="Ostar"><i class="fa fa-star"></i></div>
            <div id="Ostar"><i class="fa fa-star"></i></div>
          </div>
          <div class="review">
            <p>
              {{this.reviewDesc}}
            </p>
          </div>
          <div class="review-edit">
            <form action="#" method="post">
              <div class="review-edit-form">
                <textarea
                  name="edit-rev-box"
                  id="edit-rev-box"
                  rows="4"
                  maxlength="350"></textarea>
                
                  <input type="submit" value="Submit" />
                <input type="submit" value="Cancel" />
              </div>
            </form>
          </div>
        </div>

        <div class="reviews-pictures">
          <img src="assets/SB1.jpg" class="review-image" />
          <img src="assets/SB2.jpg" class="review-image" />
        </div>
        <div id="EditMenu">
          <div id="editBar">
            <div id="editBars"></div>
            <div id="editBars"></div>
            <div id="editBars"></div>
          </div>
          <div id="EditNav">
            <ul>
              <li><a href="#">Edit</a></li>
              <li><a href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{/each}}
      
<!-- ->

        <div class="reviews-pictures">
          <img src="assets/DT1.jpg" class="review-image" />
          <img src="assets/DT2.jpg" class="review-image" />
        </div>
        <div id="EditMenu">
          <div id="editBar">
            <div id="editBars"></div>
            <div id="editBars"></div>
            <div id="editBars"></div>
          </div>
          <div id="EditNav">
            <ul>
              <li><a href="#">Edit</a></li>
              <li><a href="#">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<!-- END OF REVIEW SECTION -->