/* * ONLY STYLE for additional search menu. All style is in reviewStyles.css attached to the html **/

#search-result-container {
  padding: 1rem;
  margin: 1rem 5rem;
  display: block;
  text-align: center;
}

#filter-result-box form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter-result-box select {
  margin: 0.5rem;
  background-color: antiquewhite;
  padding: 0.15rem;
  border-radius: 5px;
}

#filter-result-box input[type="submit"] {
  padding: 0.2rem;
  border-radius: 5px;
  background-color: antiquewhite;
  border: 0.2px solid black;
}

@media only screen and (min-width: 768px) {
  #search-result-container {
    box-sizing: border-box;
    /* background-color: rgb(231, 239, 218); */
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
